<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension point="org.eclipse.ui.editors">
        <editor
                id="com.virtlink.aesi.eclipse.editors.AesiEditor"
                class="com.virtlink.aesi.eclipse.editors.AesiEditor"
                contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
                name="AESI editor"
                extensions="aesi"
                icon="icons/sample.gif">
        </editor>
    </extension>

    <extension point="org.eclipse.debug.core.launchConfigurationTypes">
        <launchConfigurationType
                id="com.virtlink.aesi.eclipse.launching.launchConfigurationType"
                delegate="com.virtlink.aesi.eclipse.launching.AesiLaunchConfigurationDelegate"
                name="AESI launch"
                modes="run, debug">
        </launchConfigurationType>
    </extension>

    <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup
                id="com.virtlink.aesi.eclipse.launching.launchConfigurationTabGroup"
                type="com.virtlink.aesi.eclipse.launching.launchConfigurationType"
                class="com.virtlink.aesi.eclipse.launching.AesiLaunchConfigurationTabGroup">
        </launchConfigurationTabGroup>
    </extension>

    <extension
            id="debugging.breakpointMarker"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
        <persistent value="true"/>
    </extension>

    <extension point="org.eclipse.debug.core.breakpoints">
        <breakpoint
                id="com.virtlink.aesi.eclipse.debugging.lineBreakpoint"
                markerType="com.virtlink.aesi.eclipse.debugging.breakpointMarker"
                class="com.virtlink.aesi.eclipse.debugging.model.AesiLineBreakpoint"
                name="AESI Breakpoint">
        </breakpoint>
    </extension>

    <extension
            point="org.eclipse.core.runtime.adapters">
        <factory
                adaptableType="com.virtlink.aesi.eclipse.editors.AesiEditor"
                class="com.virtlink.aesi.eclipse.debugging.model.AesiBreakpointAdapterFactory">
            <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
        </factory>
    </extension>

    <extension point="org.eclipse.ui.editorActions">
        <editorContribution
                id="com.virtlink.aesi.eclipse.debugging.breakpointRulerActions"
                targetID="com.virtlink.aesi.eclipse.editors.AesiEditor">
            <action
                    id="com.virtlink.aesi.eclipse.debugging.rulerToggleBreakpointAction"
                    label="Add Breakpoint (Not Used)"
                    actionID="RulerDoubleClick"
                    class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate">
            </action>

            <!--icon="icons/breakpoint_icon.gif"-->
        </editorContribution>
    </extension>

    <extension point="org.eclipse.ui.popupMenus">
        <viewerContribution
                id="com.virtlink.aesi.eclipse.debugging.rulerPopupActions"
                targetID="com.virtlink.aesi.eclipse.editors.AesiEditor">
            <action
                    id="com.virtlink.aesi.eclipse.debugging.toggleBreakpointAction"
                    label="Toggle Breakpoint"
                    class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
                    menubarPath="debug">
            </action>

            <!--icon="icons/breakpoint_icon.gif"-->
        </viewerContribution>
    </extension>
    
    <extension
         point="org.eclipse.ui.popupMenus">
	      <viewerContribution
	            id="editor.rulerActions"
	            targetID="editor.rulerMenu">
	         <action
	               id="com.virtlink.aesi.eclipse.debugging.toggleBreakpointAction"
	               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	               label="Toggle Breakpoint"
	               menubarPath="debug">
	         </action>
	      </viewerContribution>
	</extension>

</plugin>
