<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point = "org.eclipse.ui.editors">
		<editor
      		name="PAPLJ Editor"
      		extensions="pj"
      		icon="icons/sample.gif"
      		class="com.virtlink.paplj.eclipse.editor.PapljEditor"
      		id="com.virtlink.paplj.eclipse.editor.PapljEditor">
   		</editor>
	</extension>
   	<extension point="org.eclipse.ui.editors.documentProviders"> 
	    <provider 
	        extensions="pj"
	        class="com.virtlink.editorservices.eclipse.editor.AesiDocumentProvider" 
	        id="com.virtlink.editorservices.eclipse.editor.AesiDocumentProvider"> 
	    </provider> 
	</extension>

</plugin>
