[submodule "metaborg-util"]
	path = metaborg-util
	url = https://github.com/metaborg/util.git
[submodule "metaborg-pie"]
	path = metaborg-pie
	url = https://github.com/metaborg/pie.git
[submodule "metaborg-deploy"]
	path = metaborg-deploy
	url = https://github.com/metaborg/spoofax-deploy.git
