
## IntelliJ
*.iml
.idea/
out/


## Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
.factorypath
.recommenders/
.cache-main
.scala_dependencies
.worksheet


## Gradle
.gradle/
build/
gen/
!gradle-wrapper.jar


## Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties