<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.editors">
        <editor
                id="com.virtlink.paplj.eclipse.editors.PapljEditor"
                class="com.virtlink.paplj.eclipse.editors.PapljEditor"
                contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
                name="PAPLJ editor"
                extensions="pj"
                icon="icons/sample.gif">
        </editor>
    </extension>
</plugin>
